In [12]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from random import randint
import datetime
import requests
import numpy as np
import os
import time
import pandas as pd
import re
import webbrowser
import json

In [22]:
most_recent_final = pd.read_csv('/Users/orion/Desktop/durham-data-collection-1.csv')

filenames = []
for i in range(1,16):
    filename = '/Users/orion/Desktop/durham-data-collection-'+str(i)+'.csv'
    filenames.append(filename)

In [26]:
for file in filenames:
    df = pd.read_csv(file)
    most_recent_final.merge(df)

In [31]:
most_recent_final.describe()

        Unnamed: 1  Days in Jail/Charge         Age
count  2802.000000          2802.000000  134.000000
mean      9.251606           181.103141   34.798507
std      15.634179           246.623627   10.401547
min       0.000000             0.000000   19.000000
25%       1.000000            30.000000   26.250000
50%       4.000000           114.000000   34.000000
75%      10.000000           203.500000   42.000000
max     117.000000          1732.000000   60.000000

In [32]:
most_recent_final.to_csv('durham-data-for-calypso.csv')